// drk, lgt, v-, x-, 

$white: #FFFFFF;

$black-lgt: #0a262c;
$black: #000000;

$grey-lgt-1: #6B6B6B;
$grey: #545454;
$grey-drk: #292929;

$yellow-lgt: #f9ce08;
$yellow: #f9b808;
$yellow-drk: #f99b08;

$orange-lgt: #f97908;
$orange: #FF4500;
$orange-drk: #ff521c;

$red-lgt: #fc3e30;


$schedule-1: #97CC04;
$schedule-2: #FD0108;
$schedule-3: #00A6ED;
$schedule-4: #AEA8F8;
$schedule-5: #8338EC;
$schedule-6: #FF4E00;