.app-footer{
  position: relative;
  top: -40px;
  height: 40px;
  width: 100%;
  background: $orange;
  color: $white;
  padding: 10px;
  box-sizing: border-box;
  .menu{
    @include user-select(none);
    display: inline-block;
    text-align:right;
    list-style: none;
    margin: 0;
    position: absolute;
    right: 0px;
    left: 0px;
    top:0px;
    padding: 0 10px;
    background-color: $orange;
    direction: rtl;
    @include transition(transform 200ms linear);
    @include transform(translate3d(0px, 0px,0px));
    li{
      display: inline-block;
      width: 40px;
      height: 40px;
      padding: 10px;
      box-sizing: border-box;
      svg{
        max-width: 100%;
        max-height: 100%;
        fill: $white;
      }
      &:active{
        background: $white;
        border-radius: 100%;
        svg{
          fill: $orange;
        }
      }
      &.active{
        background: rgba(255, 255, 255, 0.2);
      }
      &.more{
        @include transition(transform 200ms ease);
      }
    }
    &.is-expanded{
      @include transform(translate3d(0px, -40px,0px));
      li{
        &.more{
          @include transform(rotate(540deg));
        }
      }
    }
    &:before{
      content: '';
      height: 2px;
      width: 100%;
      position: absolute;
      top:-2px;
      left:0;
      background: $black;
      opacity: 0.2;
      z-index:1;
    }
    &:after{
      content: '';
      height: 1px;
      width: 100%;
      position: absolute;
      top:-3px;
      left:0;
      background: $black;
      opacity: 0.1;
      z-index:1;
    }
    @media (min-width: 460px) {
      @include transform(translate3d(0px, 0px,0px) !important);
      li{
        &.more{
          display: none;
        }
      }
    }
  }
}