html{
  font-family: 'Roboto', sans-serif;
}


html, body{ 
  height: 100%;
  overflow: hidden;
}

.ember-application{
  & > .ember-view{
    height: 100%;
    overflow: hidden;
    padding: 0 0 40px 0;
    box-sizing: border-box;
  }
}

p{
  line-height: 1.5em;
}