.membership{
  background: $grey;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  .title{
    margin: 0;
    color: $white;
    font-size: 19px;
    white-space: nowrap;
    background: rgba(255, 255, 255, 0.1);
    padding: 7px 0;
    font-weight: 400;
  }
  .description{
    margin: 0;
    font-weight: 300;
    font-size: 14px;
    color: $white;
    padding: 6px;
    background: rgba(255, 255, 255, 0.2);  
  }
  .contracts{
    font-weight: 400;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.25);
    margin: 0;
    padding: 3px;
    color: $white;
    border-top: 1px solid $grey;
  }
  .contracts-table{
    width: 100%;
    font-size: 14px;
    tr{
      td{
        padding: 5px;
        border: 1px solid $grey;
        background: $grey-drk;
        width: 50%;
        font-weight: 300;
        font-size: 18px;
      }
      &:first-child{
        td{
          background: $grey;
          font-weight: 400;
          font-size: 13px;
          padding: 10px 0px;
        }
      }
    }
  }
  &:after{
    content: '';
    position: absolute;
    border-radius: 5px 5px 0px 0px;
    left:0;
    top:0;
    right:0;
    height: 8px;
    @include linear-gradient($yellow-lgt, $yellow); 
  }
  &.bootcamp{
    margin-bottom: 0;
    &:after{
     @include linear-gradient($yellow, $yellow-drk);
    }
  }
  &.all-inclusive-one{
    &:after{
     @include linear-gradient($yellow-drk, $orange-lgt);
    }
  }
  &.all-inclusive-two{
    &:after{
     @include linear-gradient($orange-lgt, $orange);
    }
  }
  &.all-inclusive-three{
    &:after{
     @include linear-gradient($orange, $red-lgt);
    }
  }
  @media (min-width: 575px) {
    width: 45%;
    max-width: 350px;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    margin: 0px 10px 20px 10px;
    .description{
      min-height: 48px;
    }
  }
}