<article class="page-membership-options">
  <h2 class="heading">Membership options</h2>


  <div class="membership-option day-rate">
    <h3 class="title">Day rate</h3>
    <h4 class="description">Full access - allows use of all equipment indoors and out, including any classes</h4>
    
    <h5 class="contracts">Contracts</h5>
    <table class="contracts-table">
      <tr>
        <td>Full Access</td>
        <td>Pilates &amp; Bootcamp</td>
      </tr>
      <tr>
        <td>R90</td>
        <td>R70</td>
      </tr>
    </table>
  </div>

  <div class="membership-option bootcamp">
    <h3 class="title">Bootcamp membership</h3>
    <h4 class="description">Unlimited Bootcamp &amp; Friday Fit classes</h4>
    
    <h5 class="contracts">Contracts</h5>
    <table class="contracts-table">
      <tr>
        <td>6 months</td>
        <td>1 month</td>
      </tr>
      <tr>
        <td>R400 pm</td>
        <td>R500 pm</td>
      </tr>
    </table>
  </div>

  <br />
  
  <div class="membership-option all-inclusive-one">
    <h3 class="title">All inclusive - Tier 1</h3>
    <h4 class="description">2 Fitstrong/Gladiator classes per week</h4>
    
    <h5 class="contracts">Contracts</h5>
    <table class="contracts-table">
      <tr>
        <td>6 months</td>
        <td>1 month</td>
      </tr>
      <tr>
        <td>R510 pm</td>
        <td>R610 pm</td>
      </tr>
    </table>
  </div>

  <div class="membership-option all-inclusive-two">
    <h3 class="title">All inclusive - Tier 2</h3>
    <h4 class="description">3 Fitstrong/Gladiator classes per week</h4>
    
    <h5 class="contracts">Contracts</h5>
    <table class="contracts-table">
      <tr>
        <td>6 months</td>
        <td>1 month</td>
      </tr>
      <tr>
        <td>R600 pm</td>
        <td>R700 pm</td>
      </tr>
    </table>
  </div>

  <div class="membership-option all-inclusive-three">
    <h3 class="title">All inclusive - Tier 3</h3>
    <h4 class="description">Unlimited Fitstrong/Gladiator classes per week</h4>
    
    <h5 class="contracts">Contracts</h5>
    <table class="contracts-table">
      <tr>
        <td>6 months</td>
        <td>1 month</td>
      </tr>
      <tr>
        <td>R700 pm</td>
        <td>R800 pm</td>
      </tr>
    </table>
  </div>

</article>