{{outlet}}
<article>
  <h2 class="heading">Membership options</h2>


  <div class="membership-option">
    <h3 class="title">Bootcamp membership</h3>
    <h4 class="description">Unlimited Bootcamp &amp; Friday Fit classes</h4>
    
    <h5 class="contracts">Contracts</h5>
    <table class="contracts-table">
      <tr>
        <td>6 month</td>
        <td>1 month</td>
      </tr>
      <tr>
        <td>R400 pm</td>
        <td>R500 pm</td>
      </tr>
    </table>
  </div>

</article>