<article>
  <h2 class="heading">Weekly schedule</h2>
</article>


  
<table class="weekly-schedule">
  <tr class="days">
    <td>TIME</td>
    <td>MON</td>
    <td>TUES</td>
    <td>WED</td>
    <td>THUR</td>
    <td>FRI</td>
    <td>SAT</td>
  </tr>
  <!--MORNING-->
  <tr>
    <td colspan="7">Morning</td>
  </tr>
  <!--05h30-06h30-->
  <tr>
    <td>05h30-06h30</td>
    <td class="slot gl">Gladiator</td>
    <td class="slot bc">Boot Camp</td>
    <td class="slot gl">Gladiator</td>
    <td class="slot bc">Boot Camp</td>
    <td class="slot gl">Gladiator</td>
    <td> </td>
  </tr>
  <!--06h30-07h30-->
  <tr>
    <td>06h30-07h30</td>
    <td class="slot bc">Boot Camp</td>
    <td class="slot fs">FITstrong</td>
    <td class="slot bc">Boot Camp</td>
    <td class="slot fs">FITstrong</td>
    <td class="slot bc">Boot Camp</td>
    <td></td>
  </tr>
  <!--07h00-08h00-->
  <tr>
    <td>07h00-08h00</td>
    <td class="slot fs">FITstrong</td>
    <td class="slot bc">Boot Camp</td>
    <td class="slot fs">FITstrong</td>
    <td class="slot bc">Boot Camp</td>
    <td class="slot fs">FITstrong</td>
    <td class="slot fs">FITstrong</td>
  </tr>
  <!--08h00-09h00-->
  <tr>
    <td>08h00-09h00</td>
    <td class="slot gl">Gladiator</td>
    <td class="slot gl">Gladiator</td>
    <td class="slot gl pl">Gladiator / Pilates</td>
    <td class="slot gl">Gladiator</td>
    <td class="slot gl">Gladiator</td>
    <td class="slot gl">Gladiator</td>
  </tr>
  <!--09h00-10h00-->
  <tr>
    <td>09h00-10h00</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="slot bc">Boot Camp</td>
  </tr>
  <!--MORNING-->
  
  <!--BREAK-->
  <tr>
    <td colspan="7"><br></td>
  </tr>
  <!--BREAK-->
  
  <!--EVENING-->
  <tr>
    <td colspan="7">Afternoon/Evening</td>
  </tr>
    <!--17h00-18h00-->
  <tr>
    <td>17h00-18h00</td>
    <td class="slot gl">Gladiator</td>
    <td class="slot bc">Boot Camp</td>
    <td class="slot gl">Gladiator</td>
    <td class="slot bc">Boot Camp</td>
    <td class="slot fs">FITstrong</td>
    <td></td>
  </tr>
  <!--17h30-18h30-->
  <tr>
    <td>17h30-18h30</td>
    <td class="slot fs">FITstrong</td>
    <td class="slot fs">FITstrong</td>
    <td class="slot fs oc">FITstrong (Obstacle Course)</td>
    <td class="slot fs">FITstrong</td>
    <td></td>
    <td></td>
  </tr>
  <!--18h00-19h00-->
  <tr>
    <td>18h00-19h00</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="slot ff">Friday FIT</td>
    <td></td>
  </tr>
  <!--18h30-19h30-->
  <tr>
    <td>18h30-19h30</td>
    <td class="slot gl">Gladiator</td>
    <td class="slot bc">Boot Camp</td>
    <td class="slot gl">Gladiator</td>
    <td class="slot bc">Boot Camp</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td> </td>
    <td class="slot pl">Pilates</td>
    <td> </td>
    <td class="slot pl">Pilates</td>
    <td> </td>
    <td> </td>
    <td> </td>
  </tr>
  <!--19h00-20h00-->
  <tr>
    <td>19h00-20h00</td>
    <td class="slot bc">Boot Camp</td>
    <td class="slot gl">Gladiator</td>
    <td class="slot bc">Boot Camp</td>
    <td class="slot gl">Gladiator</td>
    <td></td>
    <td></td>
  </tr>
</table>
